nav{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20px 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(129, 151, 194);
    /* position: fixed; */
    width: 100%;
}
nav a{
    color: black;
}
nav a:hover{
    color: rgb(54, 55, 65);
    background-color: rgb(153, 196, 224);
    padding: 10px;
    border-radius: 15px;
}